@model  List< Sistema_MVC_Mamani.Models.Criterio>
@{
    ViewBag.Title = "Index";
}

<h2 class="card text-center">Gestion de Criterio</h2>

<div class="text-right">
    <a href="~/criterio/agregareditar" class="btn btn-secondary text-right">
        Nuevo registro
    </a>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:60px">Modelo</th>
            <th style="width:80px">Nombre Spañol</th>
            <th style="width:50px">Nombre English</th>
            <th style="width:50px">Descripcion</th>
            <th style="width:40px">Estado</th>
            <th style="width:200px" align="center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <th>@(c.criterio_id)</th>
                <th>@(c.Modelo.nombre)</th>
                <th>@(c.nombre_spanish)</th>
                <th>@(c.nombre_english)</th>
                <th>@(c.descripcion)</th>
                <th>@(c.estado)</th>
                <th style="align-content:center">
                    <a href="~/criterio/visualizar/@c.criterio_id" class="btn btn-warning">Visualizar</a>
                    <a href="~/criterio/agregareditar/@c.criterio_id" class="btn btn-primary">Modificar</a>
                    <a href="~/criterio/eliminar/@c.criterio_id" class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar... ?');">Eliminar</a>

                </th>
            </tr>
        }
    </tbody>
</table>



