@model Sistema_MVC_Mamani.Models.Actividad
@{
    List<Sistema_MVC_Mamani.Models.Semestre> semestre = ViewBag.semestre;
    List<Sistema_MVC_Mamani.Models.Criterio> criterio = ViewBag.criterio;
    ViewBag.Title = "agregareditar";
}

<center><h2 class="card text-center">Agregar Editar</h2></center>

<nav aria-label="breadcrumb">
    <ol class=" breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/actividad">Actividad</a>
        </li>
        <li class=" breadcrumb-item active">
            @(Model.actividad_id > 0 ? Model.nombre : "Nuevo Registro")
        </li>
    </ol>
</nav>
<br />

@using (Html.BeginForm("guardar", "actividad", FormMethod.Post, new { id = "frm-actividad" }))
{
    @Html.HiddenFor(x => x.actividad_id)

    <div class="card">
        <div class="card-header">
            Informacion de la Actividad
            <div class="card-body">
                <div class="form-group">
                    @Html.Label("Id")
                    @Html.TextBoxFor(x => x.actividad_id, new { @class = "form-control", disabled = true })
                </div>
                <div class="form-group"> 
                    @Html.Label("Semestre")
                    <select name="semestre_id" class="form-control">
                        <option @(Model.semestre_id.Equals("") ? "selected" : "" ) value="">--Seleccione--</option>
                        @foreach(var s in semestre)
                        {
                            <option @(Model.semestre_id.Equals(s.semestre_id) ? "selected" : "") value="@s.semestre_id">@s.nombre</option>
                        }

                    </select>
                    @Html.ValidationMessageFor(x => x.semestre_id, null, new { @class = "text-danger" })
                </div>
                <div class="form-group"> 
                    @Html.Label("Criterio")
                    <select name="criterio_id" class="form-control">
                        <option @(Model.criterio_id.Equals("") ? "selected" : "" ) value="">--Seleccione--</option>
                        @foreach(var cr in criterio)
                        {
                            <option @(Model.criterio_id.Equals(cr.criterio_id) ? "selected" : "") value="@cr.criterio_id">@cr.nombre_spanish</option>
                        }

                    </select>
                    @Html.ValidationMessageFor(x => x.criterio_id, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Nombre")
                    @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Descripcion")
                    @Html.TextBoxFor(x => x.descripcion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.descripcion, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Fecha")
                    @Html.TextBoxFor(x => x.fecha, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.fecha, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.Label("Estado")
                    <select name="estado" class="form-control">
                        <option @(Model.estado == "" ? "Selected" : "") value="">-Seleccione-</option>
                        <option @(Model.estado == "A" ? "Selected" : "") value="A">Activo</option>
                        <option @(Model.estado == "I" ? "Selected" : "") value="I">Inactivo</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.estado, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="card text-right">
        <button type="submit" class="btn btn-primary">Grabar</button>
        <a href="~/asignacion" class="btn btn-danger">Cancelar</a>
    </div>
    <br /><br />
}