@model List<Sistema_MVC_Mamani.Models.Control>
@{
    List<Sistema_MVC_Mamani.Models.Semestre> semestre = ViewBag.semestre;
    ViewBag.Title = "Index";
}
<h2 class="card text-center">Gestion de Control</h2>

<div class="text-right">
    <a href="~/control/agregareditar" class="btn btn-secondary text-right">
        Nuevo registro
    </a>
</div>
<br />
<table id="datatable1" class="table">
    <thead>
        <tr>
            <th style="width:50px">Id</th>
            <th style="width:60px">Semestre</th>
            <th style="width:80px">Titulo</th>
            <th style="width:50px">Fecha Creacion</th>
            <th style="width:40px">Estado</th>
            <th style="width:200px" align="center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <th>@(c.control_id)</th>
                <th>@(c.Semestre.nombre)</th>
                <th>@(c.titulo)</th>
                <th>@(c.fechacreacion)</th>
                <th>@(c.estado)</th>
                <th style="align-content:center">
                    <a href="~/control/visualizar/@c.control_id" class="btn btn-warning">Visualizar</a>
                    <a href="~/control/agregareditar/@c.control_id" class="btn btn-primary">Modificar</a>
                    <a href="~/control/eliminar/@c.control_id" class="btn btn-danger" onclick="return confirm('¿Estas seguro de eliminar... ?');">Eliminar</a>

                </th>
            </tr>
        }
    </tbody>
</table>
