@model Sistema_MVC_Mamani.Models.DetalleAsignacion
@{
    ViewBag.Title = "visualizar";
}
<center><h2 class="card text-center">visualizar</h2></center>
<nav aria-label="breadcrumb">
    <ol class=" breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/asignacion/visualizar/@Model.asignacion_id"> Detalle Asignacion</a>
        </li>
        <li class=" breadcrumb-item active">@Model.detalleasignacion_id</li>

    </ol>

</nav>

<div class="panel panel-default">

    <div class="panel-heading">
        Informacion detallada de la Detalle Asignacion
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.detalleasignacion_id</dd>
            <dt>Asignacion</dt>
            <dd>@Model.Asignacion.titulo</dd>
            <dt>Docente</dt>
            <dd>@Model.Docente.nombre</dd>
            <dt>Criterio</dt>
            <dd>@Model.Criterio.nombre_spanish </dd>
            <dt>Estado</dt>
            <dd>@Model.estado</dd>
        </dl>
    </div>

</div>
<br />